
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow create: if request.auth != null
                    && request.auth.uid == userId
                    && request.resource.data.uid == userId
                    && request.resource.data.displayName is string
                    && request.resource.data.email is string
                    && ('createdAt' in request.resource.data)
                    && request.resource.data.state is string
                    && request.resource.data.district is string
                    && request.resource.data.block is string
                    && request.resource.data.panchayat is string;

      allow read: if request.auth != null
                  && request.auth.uid == userId;

      allow update: if request.auth != null
                    && request.auth.uid == userId;
    }

    match /pumpLogs/{logId} {
      allow read, write: if request.auth != null;
    }

    match /waterSchemes/{schemeId} {
      allow read, write: if request.auth != null;
    }

    match /pumpIssues/{issueId} {
      allow read, write: if request.auth != null;
    }

    match /bills/{billId} {
      allow read, write: if request.auth != null;
    }

    match /waterSupply/{pumpId} {
      allow read, write: if request.auth != null;
    }
  }
}
